.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
    width: 100vw;
    margin-top: 1rem;

    &__img{
        width: 5rem;
        height: auto;
        opacity: 0.55;
    }
    &__h1{
        
    }
    &__nav{
        text-transform: none !important;
        text-decoration: none !important;
        
    }
}

.menu{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: whitesmoke;
    justify-content: right;
    margin-right: 3rem;


    &__item{
        text-decoration: none;
        color: inherit;
        display: none;
        display: inline;
        padding: 0.3rem 1rem;
      }
  }


