<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" Content-Type="text/css" href="/main.css" />
    <link rel="icon" type="image/png" href="/images/cuchara.png" />
    <title>Receta Details</title>
</head>

<body>
    <section>
        <article>
            <h2 class="h2">
                <span>Receta:</span>
                <p>
                    <%=nombre%>
                </p>
            </h2>
            <h2 class="h2">
                <span>Ingredientes:</span>
                <p>
                    <%=ingredientes%>
                </p>
            </h2>
            <h2 class="h2">
                <span>Instrucciones:</span>
                <p>
                    <%=instrucciones%>
                </p>
            </h2>
        </article>
    </section>
</body>

</html>